.body{
    -fx-background-image: url("img/logIn.png");
    -fx-background-size: 280;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #000000;
}
.button{
    -fx-background-color: #f2ff00B9;
    -fx-background-radius: 0;
}

.input{
    -jfx-unfocus-color: #000000;
    -jfx-focus-color: #f2ff00B9;
    -fx-prompt-text-fill: #000000;
}

.message{
    -fx-background-color: #FF000040;
    -fx-background-radius: 5px;
    -fx-padding: 5;
    -fx-border-width: 1px;
    -fx-border-color:#FF0000;
    -fx-border-radius: 5px;
}