.body{
    -fx-background-image: url("/img/Main.jpg");
}

.item{
    -fx-padding: 10;
    -fx-background-color: none;
}

.groupAnchorPane{
    -fx-background-color: none;
    -fx-padding: 0;
}
.groupTitledPane {
    -fx-margin: 0;
}

.list-view{
    -fx-background-color: #00000050;
}

.cell:focused{
    -fx-background-color: #f2ff0050;
}

.groupList{
    -fx-background-color: none;
}
.button{
    -fx-text-fill: #ffffff80;
}

.property, .groupItem{
    -fx-padding: 20;
    -fx-text-fill: #ffffffB9;
    -fx-font-size: 24;
}

.groupItem{
    -fx-background-color: #000000B9;
}

.groupItem > .groupName{
    -fx-text-fill: #ffffffB9;
}

.cell{
    -fx-padding: 0;
    -fx-background-color: #ffffff00;
}

.list-view .scroll-bar:vertical .increment-arrow{}
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #00000050;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .thumb{
    -fx-background-color: #ffffffB9;
    -fx-border-color: transparent;
    -fx-background-radius: 50em;
}

.list-view .scroll-bar:vertical .track{
    -fx-background-color: #00000050;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.list-view .scroll-bar:vertical{
    -fx-background-color: #00000050;
}

.button{
    -fx-background-color: #000000B9;
    -fx-background-radius: 0;
}

.button:hover{
    -fx-background-color: #00000070;
}

.closeButton{
    -fx-background-color: #FF0000;
    -fx-opacity: 0.7;
}

.closeButton:hover{
    -fx-background-color: #FF0000;
    -fx-opacity: 1;
}

.minimizeButton{
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}

.itemRemoveButton{
    -fx-background-color: none;
    -fx-background-image: url("/img/TrashBacket.png");
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.itemRemoveButton:hover{
    -fx-background-color: #FF000070;
}

.topBox{
    -fx-background-color: #000000B9;
}

.minimizeButton:hover{
    -fx-opacity: 1;
}



.titled-pane
{
-fx-text-fill: -fx-text-base-color;
}

.titled-pane:focused
{
-fx-text-fill: white;
}
.titled-pane > .title
{
-fx-background-color: #00000050;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 0;
-fx-padding: 0.266667em 0.933333em 0.35em 0.933333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
-fx-rotate: -90;
}

.titled-pane > *.content
{
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-padding: 0;
 }

.titled-pane:focused > .title > .arrow-button .arrow
{
-fx-background-color: white;
}