.body{
    -fx-background-image: url("/img/Main.jpg");
}

.item{
    -fx-padding: 10;
    -fx-background-color: none;
}

.groupAnchorPane{
    -fx-background-color: none;
    -fx-padding: 0;
}

.cell{
    -fx-padding: 0;
    -fx-background-color: #ffffff00;
}

.list{
    -fx-background-color: #00000050;
}

.selected{
    -fx-background-color: #f2ff0050;
}

.cell:focused{
    -fx-background-color: #f2ff0050;
}

.groupList{
    -fx-background-color: none;
}
.button{
    -fx-text-fill: #ffffff80;
}

.property, .groupCell{
    -fx-padding: 20;
    -fx-text-fill: #ffffffB9;
    -fx-font-size: 24;
}
.scroll-pane, .scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.groupCell{
    -fx-padding: 0;
    -fx-background-color: #00000070;
}

.groupName{
    -fx-text-fill: #ffffff70;
}

.scroll-bar:vertical .increment-arrow{}
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #00000050;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #ffffffB9;
    -fx-border-color: transparent;
    -fx-background-radius: 50em;
}

.scroll-bar:vertical .track{
    -fx-background-color: #00000050;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical{
    -fx-background-color: #00000050;
}

.button{
    -fx-background-color: #000000B9;
    -fx-background-radius: 0;
}

.button:hover{
    -fx-background-color: #00000070;
}

.closeButton{
    -fx-background-color: #FF0000;
    -fx-opacity: 0.7;
}

.closeButton:hover{
    -fx-background-color: #FF0000;
    -fx-opacity: 1;
}

.minimizeButton{
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
}

.itemRemoveButton{
    -fx-background-color: none;
    -fx-background-image: url("/img/TrashBacket.png");
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.itemRemoveButton:hover{
    -fx-background-color: #FF000070;
}

.topBox{
    -fx-background-color: #000000B9;
}

.minimizeButton:hover{
    -fx-opacity: 1;
}

.linkBody{
    -fx-padding: 20px 10 0 10;
    -fx-background-color: #000000B9;
}
.buttonPane{
    -fx-padding: 10px 0 0 0;
}
.linkButton{
}

.jfx-rippler{
    -jfx-rippler-fill: red;
}